/*-------------------global style login page----------------*/

.content-container{
    margin: 10vh 10vw;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    min-height: 80rem;
    background-color: #F4DBDE;
    gap: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid transparent;
    clip-path: inset(2% 0 2% 0);
    width: 40%;
    box-sizing: border-box;
    padding: 2rem;
}

.content-container > .box {
    flex: 1;
}

.boxTitle{
    text-align: center;
    padding-top: 2rem;
}

/*----------------------login ----------------------*/

.login-box {
    border-left-color: var(--secondary-color);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.login-input {
    display: flex;
    font-size: 2.5rem;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    position: relative;
}

.login-label{
    padding: 2rem  0 0.5rem;
    width:100%;
}

.btnBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    gap: 5rem;
    width: 100%;
}

input{
    padding: 0.8rem 1.2rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #555;
    width: 100%;
    font-size: 2rem;
}

.login-warning{
    display: flex;
    flex-direction: row;
    width:60%;
}

.text-warning{
    font-size: 1.8rem;
    width: 100%;
    padding-left: 2rem;
}

.warning-sign {
    transform: scale(1.8);
    width:2rem;
}

#forgot-my-password{
    display: block;
    text-align: right;
    margin-top: 0.4rem;
    cursor: pointer;
    text-decoration: underline;
}

.eyeIcon {
    position: absolute;
    right: 2.5rem;
    top: 72%;
    z-index: 10;
    transform: translateY(-50%) scale(1.30);
    cursor: pointer;
}

.errorMsg{
    padding-top: 50px;
    color: red;
    font-weight: bold;
    font-size: 2rem;

}


/*----------------------register ----------------------*/

.register-box {
    border-right-color: var(--secondary-color);
    row-gap: 4rem;
}

.register-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}

#specialText{
    font-size: 3.5rem;
    padding: 10px;
}

#registerText{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
    width: 80%;
}

/*----------------------media queries----------------------*/

@media (max-width: 768px) {
    .content-container {
        margin: 5vh 5vw;
        padding: 5vh 2vw;
        flex-direction: column;
    }

    .box {
        width: 80%;
        margin-bottom: 2rem;
    }

    .login-input,
    .btnBox {
        width: 90%;
    }

    .login-label {
        padding: 1.5rem 0 0.5rem;
    }

    .input {
        font-size: 1.5rem;
    }

    .text-warning {
        font-size: 1.5rem;
    }

    .eyeIcon {
        right: 1.5rem;
    }
}
