/*----------------------global style----------------------*/

.register-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    min-height: 100rem;
}

/*----------------------left-side/form ----------------------*/

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-right-color: var(--secondary-color);
    clip-path: inset(2% 0 2% 0);
}

.form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    position: relative;
    font-size: 2.5rem;
}

.form-field__label{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.form-field__label input{
    height: 80px;
    font-size: 2.5rem;
    width: 100%;
}

.form-field__label input[type="date"] {
    height: 100px;
    font-size: 2.5rem;
    padding: 10px;
}

.register-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    border: 5px solid transparent;
    font-size: 2.5rem;
}

.btnContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    width: 100%;
    padding: 50px 0;
}


/*----------------------right-side ----------------------*/

.register-img-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-left-color: var(--secondary-color);
    clip-path: inset(2% 0 2% 0);
}

img {
    width: 60%;
    height: auto;
    border: var(--primary-color) 3px solid;
    border-radius: 4px;
}

/*----------------------style details ----------------------*/

.register-title {
    padding: 50px 50px 50px;
    text-align: center;
    font-size: 4rem;
}

.eyeIcon {
    position: absolute;
    right: 25px;
    top: 65%;
    z-index: 10;
    transform: translateY(-50%) scale(1.60);
    cursor: pointer;
}
