.primary{
    background-color:var(--btn-color);
    color: var(--darkviolet-color);
    border-color: rgb(245,186,12);
}

.secondary :hover {
    background-color: #545b62;
}

.small {
    padding: 8px 16px;
    font-size: 14px;
}




