.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 50px;
}

.intro-title {
    text-align: center;
    padding: 50px 50px 15px;
    font-size: 5rem;
}

.intro-text {
    margin: 50px;
    text-align: center;
    padding: 10px 300px 10px;
    font-size: 3rem;
}

.quiz-container{
    border: var(--secondary-color) 3px solid;
}


/*----------- Quiz CSS ------------------- */

.legend_quiz {
    width: 10%;
    text-align: center;
    margin-left: 100px;
    padding: 10px 10px 10px;
    border: var(--secondary-color) 3px solid;
    background-color: var(--detail-color);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    top: 30px;
}

.form-container{
    border: var(--secondary-color) 3px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    flex-basis: 800px;
    border-radius: 5px;
    padding: 200px 50px 200px;
    margin: 0 50px 50px;
}

.form-label-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 40px 40px;
    font-size: 1.1rem;
}

.form-label {
    align-content: center;
    padding: 8px 12px;
    border: var(--secondary-color) 3px solid;
    background-color: var(--detail-color);
    border-radius: 5px;
    width: 30em;
    height: 150px;
    font-size: 3rem;
}

.form-dropdown-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    gap: 40px 20px;
}

select {
    flex-shrink: inherit;
    padding: 8px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #555;
    width: 30em;
    height: 150px;
    font-size: 3rem;

}

select option {
    color: black;
}

select option[value=""] {
    color: rgb(128, 128, 128);
}

.quiz-submit-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:100px 0 100px;
}

/*----------- Quiz CSS ------------------- */

.topFiveElement{
    border-radius: 1%;
    background-color: var(--element-color);
    margin: 3em 8em 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.outro-text {
    margin: 50px;
    text-align: center;
    font-size: 3rem;
    padding: 50px 200px 50px;
}

.result-button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25rem;
    padding: 4rem 0 4rem;
}



