/*-------------------global style profile page----------------*/

.profileContent{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 2rem;

}

.profileHeader {
    margin: 5rem ;
    font-size: 3rem;
}

/*-------------------profile nav bar style---------------------*/

.profile-nav-container{
    background-color: var(--detail-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem;
    z-index: 2;
}

.profile-nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8rem;
}

.profile-link{
    color: var(--secondary-color);
    font-size: 2.5rem;
    text-decoration: none;
    padding: 2rem 5rem;
}

.profile-logout{
    background-color: var(--darkviolet-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    z-index: 2;
}

/*-------------------global style pages profile---------------------*/

.profile-outer-container{
    background-color: var(--section-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 10rem);
    height: auto;
    margin: 0 5rem;
    position: relative;
    top: -3.5rem;
    z-index: 1;
}

/*-------------------profile page style---------------------*/

.profile-inner-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.profile-inner-container > div{
    flex: 1;
}

.title-left-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10rem;
    align-items: stretch;
    flex-basis: 60rem;
    height: auto;
    border: 4px solid transparent;
    border-right-color: var(--secondary-color);
    clip-path: inset(2% 0 2% 0);
    margin-left: 5rem;
}

.section-title{
    text-decoration: underline;
}

.profile-personal-info{
    display: flex;
    flex-basis: 80rem;
    flex-direction: column;
    border: 4px solid transparent;
    border-left-color: var(--secondary-color);
    clip-path: inset(2% 0 2% 0);
    height:100%;

}

.profile-button-container {
    display: flex;
    justify-content: center;
    padding: 5rem 0 10rem;
    width: inherit;
    gap: 10rem;
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15rem 5rem 0;
    flex-basis: 50rem;
    list-style-type: none;
    font-size: 2.5rem;
    gap: 6rem;
}

.profile-shipping-info{
    flex-basis: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.shipping-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15rem 5rem 0;
    flex-basis: 50rem;
    list-style-type: none;
    font-size: 2.5rem;
    gap: 6rem;
}

/*-------------------profile update form style---------------------*/

.profile-editing-container {
    border: 5px var(--darkviolet-color) solid;
    background-color: var(--detail-color);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 90rem;
    height: 45rem;
    margin: 2.5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}


.editingBtn {
    background-color:rgb(213,116,132);
    color: var(--darkviolet-color);
    border-color: var(--secondary-color);
    width: 20rem;
    font-size: 2rem;

}

/*-------------------Media Queries---------------------*/


@media (max-width: 768px) {
    .profile-nav-container {
        flex-direction: column;
        padding: 2rem;
    }
    .profile-nav-list {
        gap: 2rem;
        justify-content: center;
    }

    .profile-outer-container {
        width: calc(100% - 5rem);
        margin: 0 2.5rem;
    }

    .title-left-flex,
    .profile-personal-info,
    .profile-info,
    .shipping-info,
    .profile-editing-container {
        padding: 1rem;
        margin-left: 2rem;
        flex-basis: auto;
    }

    .profile-button-container {
        flex-direction: column;
        gap: 2rem;
    }
}