.profileContent{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;

}
.profileHeader {
    margin: 50px ;
    font-size: 3rem;

}
.profile-nav-container{
    background-color: var(--detail-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    z-index: 2;
}

.profile-nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
}

.profile-link{
    color: var(--secondary-color);
    font-size: 1.7rem;
    text-decoration: none;
    padding: 20px 50px;
}

.profile-logout{
    background-color: var(--darkviolet-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 2;
}

.profile-outer-container{
    background-color: var(--section-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 100px);
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    top: -35px;
    z-index: 1;
}
.profile-inner-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.profile-inner-container > div{
    flex: 1;
}

.title-left-flex{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    align-items: stretch;
    flex-basis: 600px;
    height: auto;
    border: 4px solid transparent;
    border-right-color: var(--secondary-color);
    clip-path: inset(2% 0 2% 0);
    margin-left: 50px;
}

.section-title{
    text-decoration: underline;
}

.profile-personal-info{
    display: flex;
    flex-basis: 800px;
    flex-direction: column;
    border: 4px solid transparent;
    border-left-color: var(--secondary-color);
    clip-path: inset(2% 0 2% 0);
    height:100%;
}

.profile-button-container {
    display: flex;
    justify-content: center;
    padding: 50px 0 100px;
    width: inherit;
    gap: 100px;
}

.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 150px 50px 0;
    flex-basis: 500px;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bolder;
    gap: 60px;
}

.profile-shipping-info{
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.shipping-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 150px 50px 0;
    flex-basis: 500px;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bolder;
    gap: 60px;
}

@media (max-width: 768px) {
    .profile-nav-container {
        flex-direction: column;
    }
}