.navSite{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-color);
    flex-wrap: nowrap;
}

.iconNavList{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1800px;
    flex-wrap: nowrap;
    gap: 15px;
}

.navList{
    width: 5000px;
    font-size:20px;
    font-weight: 400;
    overflow: hidden;
    height: 25px;
}

.searchField{
    height: 40px;
    width: 300px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: var(--element-color);
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    border-style: none
}

.searchField::placeholder {
    color: var(--darkviolet-color);
    font-style: italic;
}

.searchField:focus {
    border-color: var(--element-color);
    box-shadow: 0 0 5px rgba(248, 209, 92, 0.5);
    outline: none;
}

.searchSite{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    height: 50px;
}

nav a.navLink{
    color: var(--primary-nav-color);
    text-decoration: none;
    padding-right: 40px;
    padding-left: 40px;
    border: solid 2px transparent;
    border-right-color: var(--darkviolet-color);
}

nav a.navLink:hover{
    color:var(--darkviolet-color);
    text-decoration: none;
}

nav a.navLink:active{
    color:var(--darkviolet-color);
    text-decoration: underline;
}

.navSvg path {
    fill: var(--primary-nav-color);
}