.home-inner-container{
    position: relative;
    z-index: 1;
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
    margin: 8rem 8rem 8rem;
    background-color: #F4DBDE;
    border-radius: 1%;
}

.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
}

.main-welcome-title{
    text-align: center;
    padding-top: 10px;
    font-size: 5rem;
}

.main-welcome-msg {
    text-align: center;
    font-size: 1.5rem;
    padding: 3rem 10rem 1rem;
    width: 60%;
}

.main-welcome-subtitle {
    text-align: center;
    font-size: 2rem;
    width: 60%;
}

.welcome-image {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
    right: 230px;
    top: 50px;
    z-index: 1;
    position: absolute;
    }

.welcome-image img {
    border: var(--primary-color) 5px solid;
    width: 70%;
}

.welcome-logo {
    top: 100px;
    left: 250px;
    z-index: 5;
    position: absolute;
    display: inline-block;
}

.logo-image img {
    border-radius: 5% 5%;
    width: 245px;
    height: auto;
}


.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    gap: 100px;
    padding: 3rem 15rem 3rem;
}

