.product-overview-title{
    margin: 50px 50px 50px ;
    font-size: 3rem;
}

.option-bar {
    background-color: var(--detail-color);
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px;
}

.btnSpecs{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    padding: 8px 16px;
    border: none;
}

.changeFill{
    fill: var(--darkviolet-color) !important;
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .productItem {
        flex: 0 1 50%;
    }
}