.header-container{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary-color);
    padding-left: 30px;
}

.headerButton{
    border: none;
    width: 150px;
    height: 150px;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.headerImage{
    height: auto;
    width: 100%;
    display: block;
    margin:0;
}

/* ---------------Media Queries --------------- */

@media (max-width: 1024px) {
    .headerButton {
        width: 100px;
        height: 100px;
    }
}
