.passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.passwordInput {
    width: 100%;
    padding-right: 30px;
}

.eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) scale(0.65);
    cursor: pointer;

}