.footer-body-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-color);
    height: 6rem;
}

nav a.navLink{
    color: var(--primary-nav-color);
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

nav a.navLink:hover{
    color:var(--darkviolet-color);
    text-decoration: none;
}

.footerNav{
    display: flex;
    align-items: flex-start;
    width: 1600px;
}

.footerText{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-right: 75px;

}