
.header-site{
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgb(128 114 145 / 50%);
  margin-bottom: 100px;
  background-color: var(--secondary-color);
}