@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-color:#F8d15C;
  --secondary-color: #CA5366;
  --section-color: #FEFCF9;
  --detail-color: #F4DBDF;
  --error-color: #8f3b48;
  --font-color: #352f36;
  --element-color: #F5F5F5;
  --primary-nav-color: #F2E3C7;
  --darkviolet-color: #371542;
  --active-link-color:#F2E3C7;
  --btn-color:#F8D15C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  background: radial-gradient(circle, rgba(239,202,208,1) 0%, rgba(251,246,238,1) 66%);
  min-height: 100%;
  font-size: 1.125em;
  font-family: "Quicksand", sans-serif, "Cedarville Cursive";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  margin: 0;
}


button, input, select, textarea {
  font-family: inherit;
}

header {
  min-height: 60px;
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgb(128 114 145 / 50%);
  background-color: var(--secondary-color);
  z-index: 10;
  position: sticky;
  top:0;
}

.main{
    position: relative;
    z-index: 5;
}

.footer {
  display: flex;
  min-height: 100%;
  margin-top: auto;
  position: sticky;
  box-shadow: -6px -6px 2px 1px rgb(128 114 145 / 50%);
}

h1,h2, h3, h4,h5, h6 {
  font-family: "Quicksand", sans-serif;
}

em {
  font-family: "Cedarville Cursive", cursive;
}

/*----------- INNER- EN OUTER CONTAINERS ------------------- */

.outer-section-container{
  border: transparent 1px solid;
  margin: 0 150px 0;
  background-color: var(--section-color);
  height: 100%;
}






