.icon-button {
    border: none;
    background: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.icon-svg{
    fill: var(--primary-nav-color)
}
