.sortPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    min-height: 100%;
    background-color: var(--section-color);
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1000;
    padding: 50px;
}

.sortPanel.visible {
    transform: translateX(0);
}

.sortTitle{
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.sortContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 5px solid transparent;
    border-top-color: var(--detail-color);
    padding: 20px;
}

.fieldSetStyle{
    border: transparent;
}

.sortOptionsLabel{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 40%;
    padding: 50px;
    font-size: 3rem;
}

.sortOptionsBox{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sortCheckbox{
    width: 40%;
}

.flexIconButton{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
}

.changeFill{
    fill: var(--darkviolet-color) !important;
}

.filterBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    height: auto;
    padding-top: 20px;
}

.btnSpecs{
    width: 100%;
    display: block;
}

.resetButton{
    background-color:rgb(213,116,132);
    color: var(--darkviolet-color);
    border-color: var(--secondary-color);
}

/*------------------- Media Queries------------------------ */

@media (max-width: 1024px) {
    .sortPanel {
        width: 25rem; /* Adjusted for tablet */
    }

    .sortTitle {
        font-size: 1.8em;
        padding: 10px;
    }

    .sortContainer {
        padding: 10px;
        font-size: 1.3em;
    }

    .sortOptionsLabel {
        font-size: 1.3rem;
    }

    .filterBtnContainer {
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
    }
}
