.slider{
    border-radius: 1%;
    background-color: var(--element-color);
    margin: 8rem 8rem 9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.sliderTitle{
    align-self: flex-start;
    padding: 30px;
}


.sliderElement {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    width:80%;
    padding: 20px 10px 20px;

}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
   }


.btnEffect :hover {
    background-color: var(--detail-color);
    border-radius: 5px;
}

.sliderText {
    text-align: center;
    padding: 100px;
}

.changeFill{
    fill: var(--secondary-color) !important;
}
