.slider{
    border-radius: 1%;
    background-color: var(--element-color);
    margin: 8rem 8rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.sliderTitle{
    align-self: flex-start;
    padding: 30px;
}


.sliderElement {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    width:80%;
    padding: 20px 10px 20px;

}

.productItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 15rem;
    border-radius: 5px;
}

.productItem img {
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    border: #D9D9D9 solid 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
   }


.btnEffect :hover {
    background-color: var(--detail-color);
    border-radius: 5px;
}

.sliderText {
    text-align: center;
    padding: 100px;
}

.changeFill{
    fill: var(--secondary-color) !important;
}
